.text-platzi
{
    color:#97c93e !important
}
.btn-platzi{
    background:#97c93e;
    color:white;
}
.btn-platzi:hover
{
background-color: #82ad36;
color:white;
}
#header img
{
 width: 80px;
}
/*@media (min-width: 1368px) {
    #main .carousel-inner img {
        max-height: 79.3vh;
        object-fit: cover;
        filter: grayscale(79%);
    }
}*/

/*@media (min-width: 1920px) {
    #main .carousel-inner img {
        max-height: 93.7vh;
        object-fit: cover;
        filter: grayscale(83%);
    }
}*/
#contenedor {
    height: 496px;
    overflow: auto;
    margin-left: 10px;
}
#main .carousel-inner img {
    max-height: 79.3vh;
    object-fit: cover;
    filter: grayscale(79%);
}
#carousel
{
position: relative;
}
#carousel .overlay
{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.5);
color: white;
}
#carousel .overlay .container,
#carousel .overlay .row
{
height: 100%;
}
#footer
{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
#footer a
{
    color: white;
}
/*estilos de la tabla*/
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}