@model EncuestasV2.Models.encuaesta_departamento

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="container-fluid" style="height:496px;">
        <h2>Borrar Departamento</h2>

        <h3>Esta usted seguro de borrar este registro?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <label class="control-label">Descripción de Departamento</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dep_desc)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar registro" class="btn btn-danger" /> |
            <a href="@Url.Action("Index", "departamento")" class="btn btn-primary" target="_blank"><i class="fas fa-undo-alt"></i><span></span><b> Lista de Departamentos</b></a>
        </div>
            }
        </div>
    </div>