@model EncuestasV2.Models.encuaesta_departamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <div class="container-fluid" style="height:496px;">
        <h2>Detalle de Departamentos</h2>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    <label class="control-label ">Descripción de Departamento</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dep_desc)
                </dd>

            </dl>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.dep_id })*@
            <a href="@Url.Action("Edit", "departamento", new { id = Model.dep_id })" class="btn btn-warning" target="_blank"><i class="fas fa-edit"></i><span></span><b>Editar</b></a>
            |
            <a href="@Url.Action("Index", "departamento")" class="btn btn-primary" target="_blank"><i class="fas fa-undo-alt"></i><span></span><b> Lista de Departamentos</b></a>
            @* @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>