@model EncuestasV2.Models.encuaesta_periodo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container-fluid" style="height:496px;">
    <h2>Borrar Departamento</h2>

    <h3>Esta usted seguro de borrar este registro?</h3>
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label class="control-label">Descripción de Periodo</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.periodo_desc)
            </dd>

            <dt>
                <label class="control-label">Estatus</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.periodo_estatus)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar Registro" class="btn btn-default" /> |
                <a href="@Url.Action("Index", "periodo")" class="btn btn-primary" target="_blank"><i class="fas fa-undo-alt"></i><span></span><b> Lista de Periodos</b></a>            </div>
        }
    </div>
    </div>